<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="/static/css/footer.css" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css"
    />
  </head>
  <body>
    <!-- Footer -->
    <footer class="lozy_footer_main_container">
      <div class="lozy_footer_content_wrapper">
        <div class="lozy_footer_top_section">
          <div class="lozy_footer_brand_container">
            <h2 class="lozy_footer_brand_text">Lozy</h2>
          </div>

          <div class="lozy_footer_contact_container">
            <h3 class="lozy_footer_heading">Contact Us</h3>
            <p class="lozy_footer_address">
              #G-41, Vardhman Crown Mall<br />
              Sector 19 Dwarka<br />
              New delhi
            </p>
            <p class="lozy_footer_email_label">
              Email:
              <a
                href="/cdn-cgi/l/email-protection#620103100722050d060d150c4c0b0c"
                class="lozy_footer_email_link"
                ><span
                  class="__cf_email__"
                  data-cfemail="9efdffecfbdef9f1faf1e9f0b0f7f0"
                  >[email&#160;protected]</span
                ></a
              >
            </p>
            <p class="lozy_footer_phone_label">
              Phone:
              <a href="tel:+918900030004" class="lozy_footer_phone_link"
                >+91 89 0003 0004</a
              >
            </p>
          </div>

          <div class="lozy_footer_quicklinks_container">
            <h3 class="lozy_footer_heading">Quick Links</h3>
            <ul class="lozy_footer_links_list">
              <li class="lozy_footer_link_item">
                <a href="/" class="lozy_footer_link">Home</a>
              </li>
              <li class="lozy_footer_link_item">
                <a href="/about-us" class="lozy_footer_link">About us</a>
              </li>
              <li class="lozy_footer_link_item">
                <a href="/self-storage" class="lozy_footer_link">Services</a>
              </li>
              <li class="lozy_footer_link_item">
                <a href="#" class="lozy_footer_link">Contact Us</a>
              </li>
              <li class="lozy_footer_link_item">
                <a href="/news" class="lozy_footer_link">News</a>
              </li>
            </ul>
          </div>

          <div class="lozy_footer_policies_container">
            <h3 class="lozy_footer_heading">Policies</h3>
            <ul class="lozy_footer_links_list">
              <li class="lozy_footer_link_item">
                <a href="#" class="lozy_footer_link">Privacy Policy</a>
              </li>
              <li class="lozy_footer_link_item">
                <a href="#" class="lozy_footer_link">Terms & Conditions</a>
              </li>
              <li class="lozy_footer_link_item">
                <a href="#" class="lozy_footer_link">Refund Policy</a>
              </li>
            </ul>
          </div>

          <div class="lozy_footer_corporate_container">
            <h3 class="lozy_footer_heading">CORPORATE ADDRESS</h3>
            <p class="lozy_footer_address">
              #G-41, Vardhman Crown Mall<br />
              Sector 19 Dwarka<br />
              New delhi
            </p>
            <p class="lozy_footer_company">GODOWN PVT LTD.</p>

            <div class="lozy_footer_social_container">
              <h3 class="lozy_footer_heading">Social Media Links</h3>
              <div class="lozy_footer_social_icons">
                <a href="#" class="lozy_footer_social_link">
                  <div class="lozy_footer_social_icon_circle">
                    <i class="fab fa-linkedin-in"></i>
                  </div>
                </a>
                <a href="#" class="lozy_footer_social_link">
                  <div class="lozy_footer_social_icon_circle">
                    <i class="fab fa-twitter"></i>
                  </div>
                </a>
                <a href="#" class="lozy_footer_social_link">
                  <div class="lozy_footer_social_icon_circle">
                    <i class="fab fa-facebook-f"></i>
                  </div>
                </a>
                <a href="#" class="lozy_footer_social_link">
                  <div class="lozy_footer_social_icon_circle">
                    <i class="fab fa-instagram"></i>
                  </div>
                </a>
              </div>
            </div>
          </div>
        </div>

        <div class="lozy_footer_big_logo_container">
          <h1 class="lozy_footer_big_logo_text">Lozy</h1>
        </div>

        <div class="lozy_footer_divider"></div>

        <div class="lozy_footer_copyright_container">
          <p class="lozy_footer_copyright_text">
            © 2024 Lozy Pvt Ltd. All Rights Reserved.
          </p>
        </div>
      </div>
    </footer>

    <!-- Footer section end -->
  </body>
</html>
